<main class="app">

  <%= partial "mobile_menu" %>

  <div class="app-wrapper">
    <div class="is-mobile">
      <span id="mobile-breakpoint"></span>
      <span id="tablet-breakpoint"></span>
      <span id="tablet-landscape-breakpoint"></span>
      <span id="small-desktop-breakpoint"></span>
      <span id="desktop-breakpoint"></span>
    </div>

    <%= partial "header" %>
    <%= partial "intro" %>
    <%= partial "experience" %>
    <%= partial "studies" %>
    <%= partial "projects" %>
    <%= partial "footer" %>
  </div>
</main>
